body{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
a{
    text-decoration: none;
    color: white;
}
.close{
    color: white;
    text-align: center;
    padding: 10px;
    width: 103px;
    border-radius: 10px;
    font-family: 'Do Hyeon', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 316px;
    height: 500px;
}
.card > img{
    filter: blur(2px);
    transform: scale(1);
    transition: .3s;
}
.intro {
    position: absolute;
    bottom: 130px;
    padding: 20px;
}
li{
    list-style-type: none;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18.2px;
}
ul{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.director{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}
i{
    color: rgb(255, 230, 0);
    font-size: 25px;
    margin-bottom: 20px;
}
.action{
    color: red;
    padding: 5px;
    border-radius: 10px;
    background: red;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.sf{
    color: white;
    background: brown;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
}
.thriller{
    color: white;
    background: #718bff;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
}
.summary{
    position: absolute;
    bottom: 0;
    color: white;
    margin-top: 10px;
    padding: 20px;
}
.summary > li{
    font-size: 13px;
}
